services:
  fcm-worker:
    build: "./"
    container_name: fcm-worker
    restart: always
    environment:
      - NODE_ENV=production
    env_file:
      - ./.env
    volumes:
      - .:/app
    command: ["npm", "run", "start"]
